.notes-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 3rem);
    grid-template-rows: repeat(3, 3rem);
    grid-template-areas: 
        ". . . . ."
        ". . . . ."
        ". . . . .";
    gap: 1rem 1rem;
}