.notes-wrapper {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        ". . . . ."
        ". . . . ."
        ". . . . .";
    gap: 1em 1em;
}